<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Election administrator</a>
  </div>
<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="election/Admin/Dashboard"><i class="fa fa-inbox"></i> Main</a></li>
    </ul>

W
    <ul class="nav navbar-nav navbar-right">
      <!-- BEGIN admin_links -->
      <?php if ($is_deity): ?>
      <li class="dropdown">
        <a href="election/Admin/Settings" class=""><i class="fa fa-cog"></i> Settings</a>
      </li>
      <?php endif; ?>
      <!-- END admin_links -->
      <li>
        <a href="index.php?module=controlpanel"><?=$username?></a>
      </li>
      <li>
          <a href="<?=$logout_uri?>"><i class="fa fa-sign-out"></i> Sign out</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->