#single-modal.in {
    position: absolute; 
    left: 0;
    top: 0; 
    overflow: visible;
}

#single-modal .modal-dialog {
    margin : 0;
}

.fa-calendar {
    cursor : pointer;
}

.change-buttons {
    float: right;
}

.change-buttons button {
    margin-right : .5em;
}

.date-stamp {
    font-weight : bold;
}


#ballot-title {
    font-size : 24px;
}

.dropzone img {
    width : 150px;
}

.dropzone {
}

.dropzone:hover {
    cursor : pointer;
}

.dropzone .clickme {
    width : 150px;
    height : 200px;
    border : 2px dashed #6e6e6e;
    border-radius: 4px;
    padding : 2em 1em;
}

.dropzone .clickme p {
    font-size : 1.5em;
}

.candidate-form input {
    margin-top : .5em;
}

.candidate-profile,
.candidate-form {
    width : 152px;
    float : left;
    margin : 0px 1em 1em 1em;
    text-align : center;
}

.ticket-form-view h3 {
    margin-top : 0px;
}

.election-row .panel-heading:hover {
    cursor : pointer;
}

.ballot-title {
    font-size : 1.2em;
    font-weight : bold;
}

.ticket-title {
    font-size : 1.3em;
    font-weight : bold;
}

.no-picture {
    width : 150px;
    height : 200px;
    text-align : center;
    padding-top : 40%;
    border : 1px solid #e3e3e3;
}