.fa-calendar {
    cursor : pointer;
}

.change-buttons {
    float: right;
}

.change-buttons button {
    margin-right : .5em;
}


#ballot-title {
    font-size : 24px;
}

.dropzone img {
    width : 150px;
}

.dropzone {
}

.dropzone:hover {
    cursor : pointer;
}

.dropzone .clickme {
    width : 150px;
    height : 200px;
    border : 2px dashed #6e6e6e;
    border-radius: 4px;
    padding : 2em 1em;
}

.dropzone .clickme p {
    font-size : 16px;
    font-weight : bold;
    font-family: Arial;
}

.candidate-form input {
    margin-top : .5em;
}

.candidate-profile,
.candidate-form {
    width : 152px;
    float : left;
    margin : 0px 1em 1em 1em;
    text-align : center;
}

.ticket-form-view h3 {
    margin-top : 0px;
}

.election-row .panel-heading:hover {
    cursor : pointer;
}

.ballot-title {
    font-size : 1.2em;
    font-weight : bold;
}

.ticket-title {
    font-size : 1.3em;
    font-weight : bold;
}

.no-picture {
    width : 150px;
    height : 200px;
    text-align : center;
    padding-top : 40%;
    border : 1px solid #e3e3e3;
}

h3.election-title, .date-view, .date-edit {
    border : 1px solid white;
    border-radius : 4px;
    padding : 2px;
}

.date-edit {
    padding : 4px;
}

h3.election-title:hover, .date-edit:hover {
    cursor : pointer;
    border-color : rgb(204,204,204);
}

input.election-title {
    font-size : 24px;
}

.date-change input {
    font-size : 18px;
}