<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand">SGA Elections</span>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <?php if ($is_admin) {?>
        <li>
            <a href="./election/Admin"><i class="fa fa-list"></i> Election List</a>
        </li>
        <li>
            <a href="index.php?module=controlpanel"><?=$username?></a>
        </li>
        <?php } else {?>
        <li>
            <a>Welcome <?=$username?></a>
        </li>
        <?php } // end else ?>
        <li>
            <a href="<?=$logout_uri?>"><i class="fa fa-sign-out"></i> Sign out</a>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->