#single-modal.in {
    position: absolute; 
    left: 0;
    top: 0; 
    overflow: visible;
}

.modal{ 
    overflow: hidden; 
}
#single-modal .modal-dialog {
    margin : 0;
}

.modal-box {
    position : relative;
}

.fa-calendar {
    cursor : pointer;
}

.panel-heading h3 {
    margin : 0px 0px 4px 0px;
}

.change-buttons {
    float: right;
}

.change-buttons button:first-child {
    margin-right : .5em;
}

.date-stamp {
    font-weight : bold;
}

.pad-right {
    margin-right : 1em;
}

.pad-top {
    margin-top : 1em;
}

#ballot-title {
    font-size : 24px;
}

textarea.form-control {
    min-height : 140px;
}

.dropzone img {
    width : 150px;
}

.dropzone:hover {
    cursor : pointer;
}

.dropzone .clickme {
    width : 150px;
    height : 200px;
    border : 2px dashed #6e6e6e;
    border-radius: 4px;
    padding : 2em 1em;
}

.dropzone .clickme p {
    font-size : 1.5em;
}

.candidateForm {
    width : 152px;
}

.candidateForm input {
    margin-top : .5em;
}