#single-modal.in {
    position: absolute; 
    left: 0;
    top: 0; 
    overflow: visible;
}

.modal{ 
    overflow: hidden; 
}
#single-modal .modal-dialog {
    margin : 0;
}

.modal-box {
    position : relative;
}

.fa-calendar {
    cursor : pointer;
}

.panel-heading h3 {
    margin : 8px 0px 2px 0px;
}

.change-buttons {
    float: right;
}

.change-buttons button:first-child {
    margin-right : .5em;
}

.date-stamp {
    font-weight : bold;
}