.ticket-form-view h3 {
    margin-top : 0px;
}

.election-row .panel-heading:hover {
    cursor : pointer;
}

.single-ticket-vote .warning {
    font-size : 1.2em;
}

.single-ticket-vote div.candidate {
    float : left;
    margin : 0 1em 1em 0;
}

.website a {
    font-size : 1.2em;
    font-weight : normal;
}

.multiple-ticket-vote .list-group .list-group-item {
    clear:both;
    line-height : 100px;
    padding : 5px 10px;
    font-size : 2em;
}
.multiple-ticket-vote .list-group .list-group-item.active {
    border-color : white;
}
.multiple-ticket-vote .list-group .list-group-item.active i.fa-check {
    margin-top : 20px;
}

.multiple-ticket-vote .list-group img {
    max-height : 100px;
    float : left;
    margin-right : 2em;
}

.remaining-seats {
    font-size : 1.2em;
    font-weight : bold;
}